@{
    ViewBag.Title = "Новини";
}

@if (!Model.Cars.Any())
{
    <h2 class="text-center">В сайта все още няма новини!</h2>
}

<div class="row">
    @foreach(var news in Model)
    {
    <div class="col-md-10 offset-md-1">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="product-title"><a href="">Добави новина</a></h3>
            </div>
            <div class="card-body">
                <article>
                    <header class="entry-header">
                        <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
                        <div class="entry-thumbnail">
                            <img class="full-width img-responsive" src="/images/blog/01.jpg" alt="Снимка">
                            <span class="post-format post-format-video"><i class="fa fa-bus"></i></span>
                        </div>
                        <div class="entry-date">25 November 2022</div>
                    </header>
                    <div class="entry-content">
                        <p class="short-content">
                            Съдържание
                        </p>
                        <a class="btn btn-primary float-right" href="/news/view/?n_id=259">Прочети още</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
    }
</div>