    <h2 class="text-center"><b>Схема на тролейбусните маршрути в град Хасково</b></h2>
    <img src="~/img/2.png" alt="Карта линии" onclick="window.open('https://localhost:7087/img/2.png', '_blank');" width="100%">
    <h5 class="text-center"><b>(кликни на схемата, за да отвориш на цял екран в нов прозорец)</b></h5>